{
    "plugins": [
      ["module-resolver", {
        "root": ["./client/src"],
        "alias": {
          "test": "./test",
          "underscore": "lodash",
          "config": "./config.js"
        }
      }]
    ],

    "presets": ["react", "env", "stage-2"]
  }